// COLORS
$primary-color: #403A3E;
$secondary-color: #BE5869;

// $primary-color: #CCCCB2;
// $secondary-color: #757519;

$white-color: #CCCCB2;

$dark-grey: #181818;

$dark-blue-text: #09010C; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
